<launch>
  <!-- General options-->
  <arg name="launch_prefix"                        default=""/>
  <arg name="dump_images"                          default="false"/> <!-- writes the output of each module to /tmp -->
  <arg name="debayer_option"                       default="bayer_gbrg8"/>  <!-- auto, bayer_bggr8, bayer_gbrg8, bayer_grbg8, bayer_rggb8-->
  <arg name="output_encoding"                      default="BGR"/>   <!-- Format of the published image BGR and RGB supported-->
  <arg name="skip_number_of_images_for_slow_topic" default="5"/>     <!-- To publish images at a slower rate -->

  <!-- Modules -->
  <arg name="run_white_balance"                    default="true"/>
  <arg name="run_gamma_correction"                 default="false"/>
  <arg name="run_vignetting_correction"            default="false"/>
  <arg name="run_clahe"                            default="false"/>
  <arg name="run_color_calibration"                default="false"/>
  <arg name="run_color_enhancer"                   default="false"/>
  <arg name="run_undistortion"                     default="false"/>
  <arg name="publish_distorted"                    default="false"/>   <!-- If should publish both distorted and undistorted (when running undistortion)-->

  <!-- Camera -->
  <arg name="cam0"                                 default="false"/>
  <arg name="cam1"                                 default="false"/>
  <arg name="cam2"                                 default="false"/>
  <arg name="cam3"                                 default="true"/>
  <arg name="cam4"                                 default="true"/>
  <arg name="cam5"                                 default="true"/>
  <arg name="cam6"                                 default="false"/>
  
  <!-- White balance options -->
  <arg name="white_balance_method"                 default="ccc"/> <!-- simple, grey_world, learned, ccc, pca -->
  <arg name="white_balance_clipping_percentile"    default="20"/>   <!-- simple WB, values [0-100]-->
  <arg name="white_balance_saturation_threshold"   default="0.8"/> <!-- grey_world, learned, ccc, values [0.0, 1.0] -->
  <arg name="white_balance_temporal_consistency"   default="true"/>  <!-- ccc-only: uses a Kalman filter to track the illuminant estimate -->
  <!-- Gamma correction options -->
  <arg name="gamma_correction_method"              default="custom"/> <!-- default, custom-->
  <arg name="gamma_correction_k"                   default="0.8"/> <!-- k >= 1 -> forward gamma correction; k < 1 -> inverse gamma-->
  <!-- Vignetting correction -->
  <arg name="vignetting_correction_scale"          default="1.5"/> <!-- Linear term -->
  <arg name="vignetting_correction_a2"             default="0.001"/> <!-- Quadratic term -->
  <arg name="vignetting_correction_a4"             default="0.000001"/> <!-- Cubic term -->
  <!-- Histogram equalization options -->
  <arg name="clahe_clip_limit"                     default="1.5"/>
  <arg name="clahe_tiles_grid_size"                default="8"/>
  <!-- HSV color enhancement -->
  <arg name="color_enhancer_saturation_gain"       default="1.5"/> <!-- gain > 1.0 makes color more vibrant-->

  <!-- Per camera options -->
  <arg name="input_topic0"                         default="alphasense_driver_ros/cam0"/>
  <arg name="transport0"                           default="raw"/> 
  <arg name="output_topic0"                        default="alphasense_driver_ros/cam0/debayered"/>
  <arg name="output_frame0"                        default="cam0_sensor_frame_helper"/>
  <arg name="needs_rotation_cam0"                  default="false"/>
  <arg name="calibration_cam0"                     default="$(find image_proc_cuda)/config/alphasense_calib_example.yaml"/>
  <arg name="color_calibration_cam0"               default="$(find image_proc_cuda)/config/alphasense_color_calib_example.yaml"/>

  <arg name="input_topic1"                         default="alphasense_driver_ros/cam1"/>
  <arg name="transport1"                           default="raw"/> 
  <arg name="output_topic1"                        default="alphasense_driver_ros/cam1/debayered"/>
  <arg name="output_frame1"                        default="cam1_sensor_frame_helper"/>
  <arg name="needs_rotation_cam1"                  default="false"/>
  <arg name="calibration_cam1"                     default="$(find image_proc_cuda)/config/alphasense_calib_example.yaml"/>
  <arg name="color_calibration_cam1"               default="$(find image_proc_cuda)/config/alphasense_color_calib_example.yaml"/>

  <arg name="input_topic2"                         default="alphasense_driver_ros/cam2"/>
  <arg name="transport2"                           default="raw"/> 
  <arg name="output_topic2"                        default="alphasense_driver_ros/cam2/debayered"/>
  <arg name="output_frame2"                        default="cam2_sensor_frame_helper"/>
  <arg name="needs_rotation_cam2"                  default="false"/>
  <arg name="calibration_cam2"                     default="$(find image_proc_cuda)/config/alphasense_calib_example.yaml"/>
  <arg name="color_calibration_cam2"               default="$(find image_proc_cuda)/config/alphasense_color_calib_example.yaml"/>

  <arg name="input_topic3"                         default="alphasense_driver_ros/cam3"/>
  <arg name="transport3"                           default="raw"/> 
  <arg name="output_topic3"                        default="alphasense_driver_ros/cam3/debayered"/>
  <arg name="output_frame3"                        default="cam3_sensor_frame_helper"/>
  <arg name="needs_rotation_cam3"                  default="false"/>
  <arg name="calibration_cam3"                     default="$(find image_proc_cuda)/config/alphasense_calib_example.yaml"/>
  <arg name="color_calibration_cam3"               default="$(find image_proc_cuda)/config/alphasense_color_calib_example.yaml"/>

  <arg name="input_topic4"                         default="alphasense_driver_ros/cam4"/>
  <arg name="transport4"                           default="raw"/> 
  <arg name="output_topic4"                        default="alphasense_driver_ros/cam4/debayered"/>
  <arg name="output_frame4"                        default="cam4_sensor_frame_helper"/>
  <arg name="needs_rotation_cam4"                  default="false"/>
  <arg name="calibration_cam4"                     default="$(find image_proc_cuda)/config/alphasense_calib_example.yaml"/>
  <arg name="color_calibration_cam4"               default="$(find image_proc_cuda)/config/alphasense_color_calib_example.yaml"/>

  <arg name="input_topic5"                         default="alphasense_driver_ros/cam5"/>
  <arg name="transport5"                           default="raw"/> 
  <arg name="output_topic5"                        default="alphasense_driver_ros/cam5/debayered"/>
  <arg name="output_frame5"                        default="cam5_sensor_frame_helper"/>
  <arg name="needs_rotation_cam5"                  default="false"/>
  <arg name="calibration_cam5"                     default="$(find image_proc_cuda)/config/alphasense_calib_example.yaml"/>
  <arg name="color_calibration_cam5"               default="$(find image_proc_cuda)/config/alphasense_color_calib_example.yaml"/>

  <arg name="input_topic6"                         default="alphasense_driver_ros/cam6"/>
  <arg name="transport6"                           default="raw"/> 
  <arg name="output_topic6"                        default="alphasense_driver_ros/cam6/debayered"/>
  <arg name="output_frame6"                        default="cam6_sensor_frame_helper"/>
  <arg name="needs_rotation_cam6"                  default="false"/>
  <arg name="calibration_cam6"                     default="$(find image_proc_cuda)/config/alphasense_calib_example.yaml"/>
  <arg name="color_calibration_cam6"               default="$(find image_proc_cuda)/config/alphasense_color_calib_example.yaml"/>
  
  <!-- Nodes -->
  <!-- <rosparam command="load" file="$(arg calibration_cam0)" ns="image_proc_cuda_ros_node_cam0"/> -->
  <node if="$(arg cam0)" name="image_proc_cuda_ros_node_cam0" type="image_proc_cuda_ros_node" pkg="image_proc_cuda_ros" output="screen" launch-prefix="$(arg launch_prefix)">
    <!-- <param name="dump_images"                          value="$(arg dump_images)"/> -->
    <param name="debayer_option"                       value="$(arg debayer_option)"/>
    <param name="publish_distorted"                    value="$(arg publish_distorted)"/>
    <param name="output_encoding"                      value="$(arg output_encoding)"/>
    <param name="input_topic"                          value="$(arg input_topic0)"/>
    <param name="transport"                            value="$(arg transport0)"/>
    <param name="output_topic"                         value="$(arg output_topic0)"/>
    <param name="output_frame"                         value="$(arg output_frame0)"/>
    <param name="run_white_balance"                    value="$(arg run_white_balance)"/>
    <param name="run_gamma_correction"                 value="$(arg run_gamma_correction)"/>
    <param name="run_vignetting_correction"            value="$(arg run_vignetting_correction)"/>
    <param name="run_clahe"                            value="$(arg run_clahe)"/>
    <param name="run_color_enhancer"                   value="$(arg run_color_enhancer)"/>
    <param name="run_color_calibration"                value="$(arg run_color_calibration)"/>
    <param name="run_undistortion"                     value="$(arg run_undistortion)"/>
    <param name="skip_number_of_images_for_slow_topic" value="$(arg skip_number_of_images_for_slow_topic)"/>
    <param name="needs_rotation"                       value="$(arg needs_rotation_cam0)"/>
    <param name="white_balance_method"                 value="$(arg white_balance_method)"/>
    <param name="white_balance_clipping_percentile"    value="$(arg white_balance_clipping_percentile)"/>
    <param name="white_balance_saturation_threshold"   value="$(arg white_balance_saturation_threshold)"/>
    <param name="white_balance_temporal_consistency"   value="$(arg white_balance_temporal_consistency)"/>
    <param name="gamma_correction_method"              value="$(arg gamma_correction_method)"/>
    <param name="gamma_correction_k"                   value="$(arg gamma_correction_k)"/>
    <param name="vignetting_correction_scale"          value="$(arg vignetting_correction_scale)"/>
    <param name="vignetting_correction_a2"             value="$(arg vignetting_correction_a2)"/>
    <param name="vignetting_correction_a4"             value="$(arg vignetting_correction_a4)"/>
    <param name="clahe_clip_limit"                     value="$(arg clahe_clip_limit)"/>
    <param name="clahe_tiles_grid_size"                value="$(arg clahe_tiles_grid_size)"/>
    <param name="color_enhancer_saturation_gain"       value="$(arg color_enhancer_saturation_gain)"/>
    <param name="calibration_file"                     value="$(arg calibration_cam0)"/>
    <param name="color_calibration_file"               value="$(arg color_calibration_cam0)"/>
  </node>

  <!-- <rosparam command="load" file="$(arg calibration_cam1)" ns="image_proc_cuda_ros_node_cam1"/> -->
  <node if="$(arg cam1)" name="image_proc_cuda_ros_node_cam1" type="image_proc_cuda_ros_node" pkg="image_proc_cuda_ros" output="screen">
    <!-- <param name="dump_images"                          value="$(arg dump_images)"/> -->
    <param name="debayer_option"                       value="$(arg debayer_option)"/>
    <param name="publish_distorted"                    value="$(arg publish_distorted)"/>
    <param name="output_encoding"                      value="$(arg output_encoding)"/>
    <param name="input_topic"                          value="$(arg input_topic1)"/>
    <param name="transport"                            value="$(arg transport1)"/>
    <param name="output_topic"                         value="$(arg output_topic1)"/>
    <param name="output_frame"                         value="$(arg output_frame1)"/>
    <param name="run_white_balance"                    value="$(arg run_white_balance)"/>
    <param name="run_gamma_correction"                 value="$(arg run_gamma_correction)"/>
    <param name="run_vignetting_correction"            value="$(arg run_vignetting_correction)"/>
    <param name="run_clahe"                            value="$(arg run_clahe)"/>
    <param name="run_color_enhancer"                   value="$(arg run_color_enhancer)"/>
    <param name="run_color_calibration"                value="$(arg run_color_calibration)"/>
    <param name="run_undistortion"                     value="$(arg run_undistortion)"/>
    <param name="skip_number_of_images_for_slow_topic" value="$(arg skip_number_of_images_for_slow_topic)"/>
    <param name="needs_rotation"                       value="$(arg needs_rotation_cam1)"/>
    <param name="white_balance_method"                 value="$(arg white_balance_method)"/>
    <param name="white_balance_clipping_percentile"    value="$(arg white_balance_clipping_percentile)"/>
    <param name="white_balance_saturation_threshold"   value="$(arg white_balance_saturation_threshold)"/>
    <param name="white_balance_temporal_consistency"   value="$(arg white_balance_temporal_consistency)"/>
    <param name="gamma_correction_method"              value="$(arg gamma_correction_method)"/>
    <param name="gamma_correction_k"                   value="$(arg gamma_correction_k)"/>
    <param name="vignetting_correction_scale"          value="$(arg vignetting_correction_scale)"/>
    <param name="vignetting_correction_a2"             value="$(arg vignetting_correction_a2)"/>
    <param name="vignetting_correction_a4"             value="$(arg vignetting_correction_a4)"/>
    <param name="clahe_clip_limit"                     value="$(arg clahe_clip_limit)"/>
    <param name="clahe_tiles_grid_size"                value="$(arg clahe_tiles_grid_size)"/>
    <param name="color_enhancer_saturation_gain"       value="$(arg color_enhancer_saturation_gain)"/>
    <param name="calibration_file"                     value="$(arg calibration_cam1)"/>
    <param name="color_calibration_file"               value="$(arg color_calibration_cam1)"/>
  </node>

  <!-- <rosparam command="load" file="$(arg calibration_cam2)" ns="image_proc_cuda_ros_node_cam2"/> -->
  <node if="$(arg cam2)" name="image_proc_cuda_ros_node_cam2" type="image_proc_cuda_ros_node" pkg="image_proc_cuda_ros" output="screen">
    <!-- <param name="dump_images"                          value="$(arg dump_images)"/> -->
    <param name="debayer_option"                       value="$(arg debayer_option)"/>
    <param name="publish_distorted"                    value="$(arg publish_distorted)"/>
    <param name="output_encoding"                      value="$(arg output_encoding)"/>
    <param name="input_topic"                          value="$(arg input_topic2)"/>
    <param name="transport"                            value="$(arg transport2)"/>
    <param name="output_topic"                         value="$(arg output_topic2)"/>
    <param name="output_frame"                         value="$(arg output_frame2)"/>
    <param name="run_white_balance"                    value="$(arg run_white_balance)"/>
    <param name="run_gamma_correction"                 value="$(arg run_gamma_correction)"/>
    <param name="run_vignetting_correction"            value="$(arg run_vignetting_correction)"/>
    <param name="run_clahe"                            value="$(arg run_clahe)"/>
    <param name="run_color_enhancer"                   value="$(arg run_color_enhancer)"/>
    <param name="run_color_calibration"                value="$(arg run_color_calibration)"/>
    <param name="run_undistortion"                     value="$(arg run_undistortion)"/>
    <param name="skip_number_of_images_for_slow_topic" value="$(arg skip_number_of_images_for_slow_topic)"/>
    <param name="needs_rotation"                       value="$(arg needs_rotation_cam2)"/>
    <param name="white_balance_method"                 value="$(arg white_balance_method)"/>
    <param name="white_balance_clipping_percentile"    value="$(arg white_balance_clipping_percentile)"/>
    <param name="white_balance_saturation_threshold"   value="$(arg white_balance_saturation_threshold)"/>
    <param name="white_balance_temporal_consistency"   value="$(arg white_balance_temporal_consistency)"/>
    <param name="gamma_correction_method"              value="$(arg gamma_correction_method)"/>
    <param name="gamma_correction_k"                   value="$(arg gamma_correction_k)"/>
    <param name="vignetting_correction_scale"          value="$(arg vignetting_correction_scale)"/>
    <param name="vignetting_correction_a2"             value="$(arg vignetting_correction_a2)"/>
    <param name="vignetting_correction_a4"             value="$(arg vignetting_correction_a4)"/>
    <param name="clahe_clip_limit"                     value="$(arg clahe_clip_limit)"/>
    <param name="clahe_tiles_grid_size"                value="$(arg clahe_tiles_grid_size)"/>
    <param name="color_enhancer_saturation_gain"       value="$(arg color_enhancer_saturation_gain)"/>
    <param name="calibration_file"                     value="$(arg calibration_cam2)"/>
    <param name="color_calibration_file"               value="$(arg color_calibration_cam2)"/>
  </node>

  <!-- <rosparam command="load" file="$(arg calibration_cam3)" ns="image_proc_cuda_ros_node_cam3"/> -->
  <node if="$(arg cam3)" name="image_proc_cuda_ros_node_cam3" type="image_proc_cuda_ros_node" pkg="image_proc_cuda_ros" output="screen" launch-prefix="$(arg launch_prefix)">
    <!-- <param name="dump_images"                          value="$(arg dump_images)"/> -->
    <param name="debayer_option"                       value="$(arg debayer_option)"/>
    <param name="publish_distorted"                    value="$(arg publish_distorted)"/>
    <param name="output_encoding"                      value="$(arg output_encoding)"/>
    <param name="input_topic"                          value="$(arg input_topic3)"/>
    <param name="transport"                            value="$(arg transport3)"/>
    <param name="output_topic"                         value="$(arg output_topic3)"/>
    <param name="output_frame"                         value="$(arg output_frame3)"/>
    <param name="run_white_balance"                    value="$(arg run_white_balance)"/>
    <param name="run_gamma_correction"                 value="$(arg run_gamma_correction)"/>
    <param name="run_vignetting_correction"            value="$(arg run_vignetting_correction)"/>
    <param name="run_clahe"                            value="$(arg run_clahe)"/>
    <param name="run_color_enhancer"                   value="$(arg run_color_enhancer)"/>
    <param name="run_color_calibration"                value="$(arg run_color_calibration)"/>
    <param name="run_undistortion"                     value="$(arg run_undistortion)"/>
    <param name="skip_number_of_images_for_slow_topic" value="$(arg skip_number_of_images_for_slow_topic)"/>
    <param name="needs_rotation"                       value="$(arg needs_rotation_cam3)"/>
    <param name="white_balance_method"                 value="$(arg white_balance_method)"/>
    <param name="white_balance_clipping_percentile"    value="$(arg white_balance_clipping_percentile)"/>
    <param name="white_balance_saturation_threshold"   value="$(arg white_balance_saturation_threshold)"/>
    <param name="white_balance_temporal_consistency"   value="$(arg white_balance_temporal_consistency)"/>
    <param name="gamma_correction_method"              value="$(arg gamma_correction_method)"/>
    <param name="gamma_correction_k"                   value="$(arg gamma_correction_k)"/>
    <param name="vignetting_correction_scale"          value="$(arg vignetting_correction_scale)"/>
    <param name="vignetting_correction_a2"             value="$(arg vignetting_correction_a2)"/>
    <param name="vignetting_correction_a4"             value="$(arg vignetting_correction_a4)"/>
    <param name="clahe_clip_limit"                     value="$(arg clahe_clip_limit)"/>
    <param name="clahe_tiles_grid_size"                value="$(arg clahe_tiles_grid_size)"/>
    <param name="color_enhancer_saturation_gain"       value="$(arg color_enhancer_saturation_gain)"/>
    <param name="calibration_file"                     value="$(arg calibration_cam3)"/>
    <param name="color_calibration_file"               value="$(arg color_calibration_cam3)"/>
  </node>

  <!-- <rosparam command="load" file="$(arg calibration_cam4)" ns="image_proc_cuda_ros_node_cam4"/> -->
  <node if="$(arg cam4)" name="image_proc_cuda_ros_node_cam4" type="image_proc_cuda_ros_node" pkg="image_proc_cuda_ros" output="screen">
    <!-- <param name="dump_images"                          value="$(arg dump_images)"/> -->
    <param name="debayer_option"                       value="$(arg debayer_option)"/>
    <param name="publish_distorted"                    value="$(arg publish_distorted)"/>
    <param name="output_encoding"                      value="$(arg output_encoding)"/>
    <param name="input_topic"                          value="$(arg input_topic4)"/>
    <param name="transport"                            value="$(arg transport4)"/>
    <param name="output_topic"                         value="$(arg output_topic4)"/>
    <param name="output_frame"                         value="$(arg output_frame4)"/>
    <param name="run_white_balance"                    value="$(arg run_white_balance)"/>
    <param name="run_gamma_correction"                 value="$(arg run_gamma_correction)"/>
    <param name="run_vignetting_correction"            value="$(arg run_vignetting_correction)"/>
    <param name="run_clahe"                            value="$(arg run_clahe)"/>
    <param name="run_color_enhancer"                   value="$(arg run_color_enhancer)"/>
    <param name="run_color_calibration"                value="$(arg run_color_calibration)"/>
    <param name="run_undistortion"                     value="$(arg run_undistortion)"/>
    <param name="skip_number_of_images_for_slow_topic" value="$(arg skip_number_of_images_for_slow_topic)"/>
    <param name="needs_rotation"                       value="$(arg needs_rotation_cam4)"/>
    <param name="white_balance_method"                 value="$(arg white_balance_method)"/>
    <param name="white_balance_clipping_percentile"    value="$(arg white_balance_clipping_percentile)"/>
    <param name="white_balance_saturation_threshold"   value="$(arg white_balance_saturation_threshold)"/>
    <param name="white_balance_temporal_consistency"   value="$(arg white_balance_temporal_consistency)"/>
    <param name="gamma_correction_method"              value="$(arg gamma_correction_method)"/>
    <param name="gamma_correction_k"                   value="$(arg gamma_correction_k)"/>
    <param name="vignetting_correction_scale"          value="$(arg vignetting_correction_scale)"/>
    <param name="vignetting_correction_a2"             value="$(arg vignetting_correction_a2)"/>
    <param name="vignetting_correction_a4"             value="$(arg vignetting_correction_a4)"/>
    <param name="clahe_clip_limit"                     value="$(arg clahe_clip_limit)"/>
    <param name="clahe_tiles_grid_size"                value="$(arg clahe_tiles_grid_size)"/>
    <param name="color_enhancer_saturation_gain"       value="$(arg color_enhancer_saturation_gain)"/>
    <param name="calibration_file"                     value="$(arg calibration_cam4)"/>
    <param name="color_calibration_file"               value="$(arg color_calibration_cam4)"/>
  </node>

  <!-- <rosparam command="load" file="$(arg calibration_cam5)" ns="image_proc_cuda_ros_node_cam5"/> -->
  <node if="$(arg cam5)" name="image_proc_cuda_ros_node_cam5" type="image_proc_cuda_ros_node" pkg="image_proc_cuda_ros" output="screen">
    <!-- <param name="dump_images"                          value="$(arg dump_images)"/> -->
    <param name="debayer_option"                       value="$(arg debayer_option)"/>
    <param name="publish_distorted"                    value="$(arg publish_distorted)"/>
    <param name="output_encoding"                      value="$(arg output_encoding)"/>
    <param name="input_topic"                          value="$(arg input_topic5)"/>
    <param name="transport"                            value="$(arg transport5)"/>
    <param name="output_topic"                         value="$(arg output_topic5)"/>
    <param name="output_frame"                         value="$(arg output_frame5)"/>
    <param name="run_white_balance"                    value="$(arg run_white_balance)"/>
    <param name="run_gamma_correction"                 value="$(arg run_gamma_correction)"/>
    <param name="run_vignetting_correction"            value="$(arg run_vignetting_correction)"/>
    <param name="run_clahe"                            value="$(arg run_clahe)"/>
    <param name="run_color_enhancer"                   value="$(arg run_color_enhancer)"/>
    <param name="run_color_calibration"                value="$(arg run_color_calibration)"/>
    <param name="run_undistortion"                     value="$(arg run_undistortion)"/>
    <param name="skip_number_of_images_for_slow_topic" value="$(arg skip_number_of_images_for_slow_topic)"/>
    <param name="needs_rotation"                       value="$(arg needs_rotation_cam5)"/>
    <param name="white_balance_method"                 value="$(arg white_balance_method)"/>
    <param name="white_balance_clipping_percentile"    value="$(arg white_balance_clipping_percentile)"/>
    <param name="white_balance_saturation_threshold"   value="$(arg white_balance_saturation_threshold)"/>
    <param name="white_balance_temporal_consistency"   value="$(arg white_balance_temporal_consistency)"/>
    <param name="gamma_correction_method"              value="$(arg gamma_correction_method)"/>
    <param name="gamma_correction_k"                   value="$(arg gamma_correction_k)"/>
    <param name="vignetting_correction_scale"          value="$(arg vignetting_correction_scale)"/>
    <param name="vignetting_correction_a2"             value="$(arg vignetting_correction_a2)"/>
    <param name="vignetting_correction_a4"             value="$(arg vignetting_correction_a4)"/>
    <param name="clahe_clip_limit"                     value="$(arg clahe_clip_limit)"/>
    <param name="clahe_tiles_grid_size"                value="$(arg clahe_tiles_grid_size)"/>
    <param name="color_enhancer_saturation_gain"       value="$(arg color_enhancer_saturation_gain)"/>
    <param name="calibration_file"                     value="$(arg calibration_cam5)"/>
    <param name="color_calibration_file"               value="$(arg color_calibration_cam5)"/>
  </node>

  <!-- <rosparam command="load" file="$(arg calibration_cam6)" ns="image_proc_cuda_ros_node_cam6"/> -->
  <node if="$(arg cam6)" name="image_proc_cuda_ros_node_cam6" type="image_proc_cuda_ros_node" pkg="image_proc_cuda_ros" output="screen">
    <!-- <param name="dump_images"                          value="$(arg dump_images)"/> -->
    <param name="debayer_option"                       value="$(arg debayer_option)"/>
    <param name="publish_distorted"                    value="$(arg publish_distorted)"/>
    <param name="output_encoding"                      value="$(arg output_encoding)"/>
    <param name="input_topic"                          value="$(arg input_topic6)"/>
    <param name="transport"                            value="$(arg transport6)"/>
    <param name="output_topic"                         value="$(arg output_topic6)"/>
    <param name="output_frame"                         value="$(arg output_frame6)"/>
    <param name="run_white_balance"                    value="$(arg run_white_balance)"/>
    <param name="run_gamma_correction"                 value="$(arg run_gamma_correction)"/>
    <param name="run_vignetting_correction"            value="$(arg run_vignetting_correction)"/>
    <param name="run_clahe"                            value="$(arg run_clahe)"/>
    <param name="run_color_enhancer"                   value="$(arg run_color_enhancer)"/>
    <param name="run_color_calibration"                value="$(arg run_color_calibration)"/>
    <param name="run_undistortion"                     value="$(arg run_undistortion)"/>
    <param name="skip_number_of_images_for_slow_topic" value="$(arg skip_number_of_images_for_slow_topic)"/>
    <param name="needs_rotation"                       value="$(arg needs_rotation_cam6)"/>
    <param name="white_balance_method"                 value="$(arg white_balance_method)"/>
    <param name="white_balance_clipping_percentile"    value="$(arg white_balance_clipping_percentile)"/>
    <param name="white_balance_saturation_threshold"   value="$(arg white_balance_saturation_threshold)"/>
    <param name="white_balance_temporal_consistency"   value="$(arg white_balance_temporal_consistency)"/>
    <param name="gamma_correction_method"              value="$(arg gamma_correction_method)"/>
    <param name="gamma_correction_k"                   value="$(arg gamma_correction_k)"/>
    <param name="vignetting_correction_scale"          value="$(arg vignetting_correction_scale)"/>
    <param name="vignetting_correction_a2"             value="$(arg vignetting_correction_a2)"/>
    <param name="vignetting_correction_a4"             value="$(arg vignetting_correction_a4)"/>
    <param name="clahe_clip_limit"                     value="$(arg clahe_clip_limit)"/>
    <param name="clahe_tiles_grid_size"                value="$(arg clahe_tiles_grid_size)"/>
    <param name="color_enhancer_saturation_gain"       value="$(arg color_enhancer_saturation_gain)"/>
    <param name="calibration_file"                     value="$(arg calibration_cam6)"/>
    <param name="color_calibration_file"               value="$(arg color_calibration_cam6)"/>
  </node>

</launch>
